* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-image: url(images/bg1.png);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_login_page {
  width: 360px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  opacity: 61%;
}
.login_heading_container {
  height: 18%;
  width: 68%;
  margin-bottom: 3%;
}
.login_heading {
  font-weight: bold;
  font-size: 300%;
  font-family: "Segoe Script";
  color: #79d24d;
}
#input_login,
#input_password {
  height: 40px;
  width: 300px;
  padding: 0 12px;
  margin: 10px 0;
  background: none;
  border: none;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(136, 184, 254, 0);
  transition: box-shadow 0.3s;
  outline: none;
  font-size: 16px;
  color: #fff;
}
.log_label {
  display: flex;
  align-self: start;
  margin-left: 8%;
  color: white;
  margin-top: 2%;
  font-weight: bold;
  font-size: 18px;
}
.button {
  cursor: pointer;
  height: 50px;
  width: 300px;
  border-radius: 8px;
  background: #428EFF;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  font-size: 20px;
  margin-top: 20px;
  outline: none;
}
.button:hover {
  background: #033f9a;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  margin: 2%;
}
.contentWrapper .contentTextWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
}
.contentWrapper .contentTextWrapper p {
  width: 100%;
  height: 100%;
  padding: 3%;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  color: white;
  background: #3e96cad4;
  font-weight: bold;
}
.contentWrapper .contentDeleteWrapper {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 4%;
}
.contentWrapper .contentDeleteWrapper .delete {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  background: #3e96cad4;
  border: none;
  padding-right: 10%;
  outline: none;
}
.contentWrapper .contentDeleteWrapper .delete:hover {
  color: red;
}

.dropDownWrapper {
  display: flex;
  flex-direction: column;
  height: 78%;
}
.dropDownInput {
  outline: none;
  border-radius: 10px;
  border: 1px solid gray;
  padding-left: 8px;
  width: 100%;
  height: 65%;
  font-weight: 500;
  font-size: 120%;
}
.dropDownInput:focus {
  border-color: #88B8FE;
  box-shadow: 0 0 0 4px rgba(136, 184, 254, 0.25);
}
.dropDownLabel {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  margin-left: 3%;
  align-self: start;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}
.mainWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.mainWrapper .leadsWrapper {
  width: 40%;
  height: 88%;
  display: flex;
  flex-direction: column;
  margin: 60px;
  margin-bottom: 4%;
  margin-top: 2%;
  box-shadow: 0 0 0 4px rgba(136, 184, 254, 0.25);
  background: none;
  opacity: 90%;
}
.mainWrapper .leadsWrapper .leadsHeaderWrapper {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
}
.mainWrapper .leadsWrapper .leadsHeaderWrapper .leadsHeader {
  font-size: 300%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
}
.mainWrapper .leadsWrapper .leadsContentWrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-top: 2%;
  margin-left: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 2%;
}
.mainWrapper .leadFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 1%;
  width: 40%;
  box-shadow: 0 0 0 4px rgba(136, 184, 254, 0.25);
  opacity: 90%;
}
.mainWrapper .leadFormWrapper .leadFormHeadWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
  margin-top: 2%;
}
.mainWrapper .leadFormWrapper .leadFormHead {
  margin-top: 7%;
  width: 100%;
  height: 100%;
  font-size: 250%;
  color: #ffffff;
}
.mainWrapper .leadFormMainPage {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 4%;
  margin-bottom: 4%;
  height: 100%;
  margin-bottom: 2%;
  margin-top: 1%;
}
.userInput {
  outline: none;
  border-radius: 10px;
  border: 1px solid gray;
  padding-left: 8px;
  width: 100%;
  height: 65%;
  font-weight: 500;
  font-size: 120%;
}
.dropDownWrapper {
  width: 100%;
  height: 65px;
}
.label {
  text-align: start;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  margin-left: 2%;
  align-self: start;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.inputField {
  width: 100%;
}
.leadFormButton {
  cursor: pointer;
  height: 35px;
  width: 70%;
  border-radius: 8px;
  background: #428EFF;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  font-size: 27px;
  margin-top: 4%;
  margin-bottom: 7%;
  outline: none;
}
.leadFormButton:hover {
  background: #033f9a;
}
.leadFormButton .leadForm_items_container {
  margin: 3%;
}
.leadForm_button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 80%;
  margin-left: 22%;
  margin-top: 1%;
}
.logout_button_container {
  height: 20%;
  width: 10%;
  margin-top: 1%;
}
.logout_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: #428eff;
  margin-left: 40%;
  margin-bottom: 60%;
  border: none;
  padding: 20px;
  width: 65%;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
}
.logout_button:focus,
.logout_button:hover,
.logout_button:active {
  color: white;
  background-color: red;
}

#root {
  width: 100%;
  height: 100%;
}
.leadPage_main_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.first_main_container {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.second_main_container {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 2%;
}
.leadForm_container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1.3%;
}
.leadForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.leadForm_first_container {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
.leadForm_second_container {
  display: flex;
  flex-direction: column;
  margin-left: 14%;
}
.leadForm_input {
  outline: none;
  border-radius: 10px;
  border: 1px solid gray;
  padding-left: 8px;
  width: 100%;
  height: 35%;
  font-weight: 500;
  font-size: 120%;
}
.leadForm_label {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  margin-left: 2%;
  align-self: start;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.leadForm_items_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 21%;
}
.leadForm_button_container {
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 0;
}
.leadForm_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  background-color: rgba(48, 180, 240, 0.84);
  border: none;
  padding: 20px;
  width: 40%;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.5em;
}
.leadForm_button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97B1BF;
  color: #000;
}
.leadForm_button:after {
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.sending_comment_container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sending_comment_heading_container {
  text-align: center;
  height: 23%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14%;
  margin-top: 2%;
  margin-bottom: 4%;
}
.sending_comment_heading {
  font-weight: bold;
  font-size: 450%;
  font-family: "Segoe Script";
  color: #79d24d;
}
.sending_comment_logout_container {
  margin-left: 20%;
  height: 20%;
  margin-bottom: 10%;
}
.sending_comment_logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: #428eff;
  border: none;
  padding: 20px;
  width: 70%;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.5em;
}
.sending_comment_logout:focus,
.sending_comment_logout:hover,
.sending_comment_logout:active {
  color: white;
  background-color: red;
}
.sending_comment_textarea_container {
  height: 45%;
  display: flex;
  flex-direction: row;
}
.sending_comment_textarea {
  height: 90%;
  width: 80%;
  border-radius: 8px;
  border: 2px solid #1a73e8;
  outline: 0;
  outline: none;
  padding: 1.5%;
  margin-left: 3%;
  font-weight: 600;
  font-size: 140%;
  resize: none;
  overflow-y: auto;
}
.sending_comment_button_container {
  height: 20%;
}
.sending_comment_button {
  width: 80%;
  height: 35%;
  background: #428EFF;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  color: #fff;
  text-decoration: none;
  font-size: 1.45em;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  border: 0;
  margin-right: 13%;
}
.sending_comment_button:hover {
  background: #033f9a;
}
.sending_comment_checkbox_container {
  display: flex;
  flex-direction: column;
  margin: 1.5%;
}
.sending_comment_p_checkbox_container {
  display: flex;
  flex-direction: row;
}
.sending_comment_checkbox_public_label,
.sending_comment_checkbox_private_label {
  font-weight: bold;
  font-size: 1em;
  margin-left: 10%;
  margin-bottom: 15%;
}
.common_comment_container,
.private_comment_container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 1%;
  opacity: 65%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: 0.4px solid #00d4ff;
  border-bottom: none;
}
.comment_heading_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.comment_heading {
  color: white;
}
.comment_list_container {
  height: 80%;
  margin: 2%;
  overflow-y: auto;
}
.comment_text_container {
  overflow-y: auto;
  margin-right: 4%;
}
.list_itemText {
  color: black;
  font-weight: bold;
  margin: 2%;
}

.comment_text_container {
  display: flex;
  justify-content: start;
  background-color: white;
  height: 33%;
  width: 96%;
  margin: 3%;
}

